.nav-link.active {
    background-color: #f8f9fa !important;
    color: #dc3545 !important;
    font-weight: 600;
    border-left: 3px solid #dc3545;
}

.nav-link:not(.active):hover {
    border-left: 3px solid transparent;
    background-color: #f8f9fa;
}
.action-btn i {
    font-size: 1.25rem; 
    transition: transform 0.2s;
}

.action-btn:hover i {
    transform: scale(1.2); 
}