<div class="container-fluid px-3 px-md-4 py-3">
    <div class="row mb-4">
        <div class="col-12 col-md-6 mx-auto">
            <div class="input-group">
                <span class="input-group-text bg-white border-end-0">
                    <i class="fas fa-search text-muted"></i>
                </span>
                <input type="text" class="form-control border-start-0 ps-0" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar vocero..." style="box-shadow: none;">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 text-end">
            <button class="btn btn-success btn-sm" (click)="goToRegister()">
                <i class="fas fa-plus me-1"></i> Registrar
            </button>
        </div>
    </div>

    <div class="row g-3">
        <div *ngFor="let person of filteredPeoples" class="col-auto mb-4">
            <div class="person-card">
                <div class="img-wrapper">
                    <img [src]="person.photoPerson ? 'http://localhost/app-back/public/' + person.photoPerson : 'img/default.png'" 
                         [alt]="person.firstName"
                         (error)="handleImageError($event)">
                </div>

                <div class="card-info">
                    <h5 class="title">{{ person.firstName }} {{ person.lastName }}</h5>
                    <p class="detail"><strong>COMUNIDAD:</strong> {{ person.comunityName || 'N/A' }}</p>
                    <p class="detail"><strong>CONSEJO:</strong> {{ person.councilName || 'N/A' }}</p>
                    <p class="detail"><strong>ROL:</strong> {{ person.roleName || 'SIN ROL' }}</p>
                    <p class="location">
                        <i class="fa-solid fa-location-dot"></i> {{ person.locality?.state || 'ZULIA' }}
                    </p>
                </div>

                <div class="card-actions">
                    <label [for]="'file-' + person.personId" class="action-btn view">
                        <i class="fa-solid fa-camera"></i>
                    </label>
                    <input type="file" [id]="'file-' + person.personId" hidden (change)="onFileSelected($event, person.personId)">
                    
                    <button class="action-btn delete" (click)="deletePerson(person.personId)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>